/*Logo*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.logo {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  color: #bdbdbd;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 420px;
  height: 200px;
  text-align: center;
  font-size: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.logo h1,
.logo p {
  margin: 0;
  text-transform: uppercase;
}
.logo h1 {
  font-family: 'Righteous', Arial, sans-serif;
  font-size: 1.8em;
  line-height: 50px;
  position: relative;
  background-color: #bdbdbd;
  color: #212121;
  text-align: center;
  margin: 0 50px 10px;
}
.logo h1:before,
.logo h1:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  border-width: 25px 10px;
  border-style: solid;
}
.logo h1:before {
  left: -23px;
  border-color: #bdbdbd #bdbdbd #bdbdbd transparent;
}
.logo h1:after {
  right: -23px;
  border-color: #bdbdbd transparent #bdbdbd #bdbdbd;
}
.logo p {
  font-weight: 800;
  font-size: 20px;
}
.logo h6 {
  margin: 0;
  display: inline-block;
  position: relative;
}
.logo h6:before,
.logo h6:after {
  position: absolute;
  height: 1px;
  content: '';
  background: #bdbdbd;
  width: 30px;
  top: 50%;
}
.logo h6:before {
  left: -35px;
}
.logo h6:after {
  right: -35px;
}
.logo .diamond {
  width: 20px;
  height: 20px;
  margin: 10px 10px;
  display: inline-block;
  line-height: 80px;
  background: #bdbdbd;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.logo .diamond:nth-of-type(2) {
  -webkit-transform: rotateZ(-45deg) scale(2) translate(2px, -2px);
  transform: rotateZ(-45deg) scale(2) translate(2px, -2px);
}

/*scramble*/
#messenger {
  clear: both;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 35px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(35,31,32,0.9);
  color: yellow;
}

/*rest of page*/
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  margin-bottom: 300px;
  min-width: 100%;
  min-height: 100%;
}

#btnLogout {
  diplay: block;
  color: yellow;
}

#btnShowModal {
  display: block;
  color: yellow;
  margin-left: 5px;
}

#modalImg {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 100%;
  background-color: rgba(35,31,32,0.8);
}

table {
  margin-top: 30%;
  border-radius: 5px;

}

.addTrain {
}

.card {
  background-color: rgba(189,189,189,0.5);
}

.card-header {
  color: yellow;
  background-color: rgba(35,31,32,0.8);
}
#submitTrain {
  background-color: rgba(35,31,32,0.8);
  color: yellow;
}
#footer {
  font-family: 'Raleway', Arial, sans-serif;
  bottom: -300px;
  color: rgb(244,243,243);
  width:100%;
  position: absolute;
  text-align: center;
  background-color: rgb(52,58,64);
  padding: 3% 0% 3% 0%;
  background-color: rgba(35,31,32,0.8);
}

@media (max-width: 480px) {
  #footer {
    bottom: -500px;
  }
  .logo {
    font-size: 16px;
  }
  #messenger {
    font-size: 25px;
    margin-top: 15%;
  }
  .addTrain {

  }


}

@media (max-width: 768px) {
  #footer {
    bottom: -500px;
  }
  body {
    margin-bottom: 500px;
  }
  .addTrain {


  }

}

@media (max-width: 3000px) {
  #footer {
    bottom: -1300px;
  }
  body {
    margin-bottom: 1300px;
  }
  .addTrain {

  }

}
